# CraveX Infrastructure URLs
DATABASE_URL=postgres://postgres:Raj@76330Raj@localhost:5435/cravex?sslmode=disable
REDIS_URL=localhost:6379
KAFKA_URL=localhost:9092

# General Settings
PORT=8000
JWT_SECRET=6f9b4c2d8e1a5f7c9b3d1e8a4f6c2b7d9a1e5f8c3d7b2a9f6e4c1b8d5a7f9e2

# Payment Secrets
STRIPE_WEBHOOK_SECRET=stripe_webhook_secret_key
STRIPE_SECRET_KEY=sk_test_placeholder_key
STRIPE_SECRET_ID=pk_test_placeholder_key
